body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  width: 35rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  color: #e0e0e0;
  font-weight: bold;
  background-color: #1b1b1b;
  width: 10rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: 0px solid transparent;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input:focus {
  outline: 4px solid #393e48;
  border: 0px solid transparent;
}

.time-container {
  width: 34rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0rem 1rem 0rem;
  justify-content: space-evenly;
}
.time-tile {
  background-color: #3b404a;
  padding: 0rem 0.5rem 0.8rem 0.5rem;
  border-radius: 0.2rem;
  margin: 0rem 0.2rem 0rem 0.2rem;
  width: 15rem;
  margin-top: 0.4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #1b1b1b;
  padding: 0.25rem;
  border-radius: 0.2rem;
  display: inline-block;
}
